<h1>New Celebrities Page</h1>

<form action="/celebrities/add-celebrity" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name"/>

  <label for="occupation">Occupation</label>
  <input id="occupation" type="text" name="occupation"/>

  <label for="catchphrase">Catchphrase</label>
  <input id="catchphrase" type="text" name="catchphrase"/>

  <button type="submit">Add Celebrity</button>
</form>
